extends /_assets/layouts/base

block append styles
  link(rel="stylesheet", href="/_assets/layouts/default/index.scss")

block body
  .layout-default
    header.head
      span this is header
    main
      block main
