doctype
html(lang="ja")
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")

      block title
        title Document

      block styles
        link(rel="stylesheet", href="/_assets/styles/global.scss")

      block scripts
        script(src="/_assets/scripts/global.js" defer)

  body
    block body
