extends /_assets/layouts/default/index

block title
  title page-foo

block append styles
  link(rel="stylesheet", href="./index.scss")

block append scripts
  script(src="./index.js" defer)

block main
  .page-foo
    h1 page-foo
    ul
      li
        a(href="../index.pug") ../index.pug
      li
        a(href="/index.pug") /index.pug
