extends /_assets/layouts/default/index

block title
  title page-index

block main
  .page-index
    h1 page-index
    ul
      li
        a(href="./foo/index.pug") ./foo/index.pug
      li
        a(href="/foo/index.pug") /foo/index.pug
    img(src="./dummy.png" alt="dummy")
